span {
    font-family:'Microsoft YaHei';
    font-size:10pt;
    /*color:#424242;*//*liangjiajie*/
}
#selectMonth {
    width:43px;
    margin-top:16px;
}
#selectYear {
    width:58px;
    margin-left:5px;
    margin-top:15px;
}
.table_style
{
    width:758px;
    height:447px;
    background:#f1f1f1;
    border:1px;
    border:#ddd;
    border-style:solid;
    border-bottom: 1px solid #ddd;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}

.select_month {
    height:25px;
    line-height:25px;
    border-radius:5px;
    /*chenyangwen 2014/3/1*/
    /*-webkit-appearance: none;
    -moz-appearance:none;
    background-repeat:no-repeat;
    background-image:url('../images/select_group_click.png');
    background-position:103px;*/
    border-radius:5px;
}
.cursor_style {
    cursor:pointer;
}

/*modified by caoyandong*/
.Setting_container_obu_view {
    position:absolute;
    top:60px;
    left:0.8%;
    width:98.6%;
    /*background-color:#f1f1f1;*/
    border-top:1px solid #ddd;
    
}
.Setting_container_obu_view table {
    border-spacing:0px;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    width:100%;
}
.Setting_container_obu_view tr {
    /*border-bottom:1px solid #ddd;*/
    height:50px;
}
.Setting_container_obu_view td {
    background-color:#f1f1f1;
    text-align:left;
    border-bottom:1px solid #ddd;
    padding-left:10px;
}
/*modified by caoyandong*/
.Export_button
{
    width:9%;
    height:25px;
    background-color:#FFF;
    border-width:1px;
    border-style:solid;
    border-radius:7px;
    border-color:#808080;
    line-height:25px;
    font-size:10pt;
    text-align:center;
    font-family:Microsoft YaHei;
    cursor:pointer;
}
/*.Export_container_button
{
    width:848px;
    height:50px;
}*/
.Export_container_select
{
    width:99.7%;
    height:50px;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    position:relative;
    left:0%;
    background-color:#f1f1f1;
}
.vehicle_title {
    position:absolute;
    left:0.8%;
    top:0px;
    width:17.5%;
    height:22px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}
#backcover {
    position:absolute;
    top:0%;
    left:0%;
    opacity:0.9;
    filter:Alpha(Opacity="90");
}
#idwaitingfordata {
    position:fixed;
}
#waiting_picture {
    position:absolute;
    top:150px;
    z-index:1001;
    width:114px;
    height:113px;
    /*background:url('../images/loading_style.gif');*/
}
#idwaitingtip {
    z-index: 1001;
    font-size: 16pt;
    position: absolute;
}
#waiting_pictureforInit {
    position:fixed;
    top:200px;
    left:350px;
    z-index:1001;
    width:114px;
    height:113px;
    /*background:url('~/Common/images/loading_style.gif');*/
}
#idwaitingtipforInit {
    z-index: 1001;
    font-size: 16pt;
    top: 320px;
    left: 345px;
    position: fixed;
}
.ui-dialog .ui-state-error { 
    padding: .3em; 
}
.ui-dialog .ui-dialog-titlebar-close{
    display: none;
}
.ui-dialog .ui-dialog-titlebar{
    display: none;
}
.ui-dialog .ui-dialog-title{
    display: none;
}
.ui-button {
    height:25px;
    background-color:#fff;
    border:1px solid #000000;
    border-radius: 4px; 
}
span.ui-button-text {
    background-color:white;
    margin:0px;
}
.ui-button .ui-button-text {
    line-height:1.5em;
}
.ui-dialog {
    position:fixed;
}
.ui-dialog .ui-dialog-buttonpane button { 
    margin: 0.1em .4em .1em 0em; 
    cursor: pointer; 
}
.ui-dialog .ui-dialog-content {
    overflow:hidden; 
}
.ui-widget-content {
        background:#f3f3f3;
}
.ui-button-text-only .ui-button-text { 
    padding: 0.1em 1em;
}
#searchData
{
    width:7%;
    height:21px;
    background-color:#FFF;
    border-width:1px;
    border-style:solid;
    border-radius:7px;
    border-color:#808080;
    line-height:21px;
    font-size:10pt;
    text-align:center;
    font-family:Microsoft YaHei;
    cursor:pointer;
}