div {
    background-repeat: no-repeat;
}
span {
    font-style:normal;
    font-family:'Microsoft YaHei';
    text-decoration:none;
}

.Report_index {
    position:absolute;
    left:0px;
    top:0px;
}


.title {
    position:relative;
    left:28px;
    top:16px;
    width:140px;
    height:22px;
    font-size:18px;
    text-align:left;
    word-wrap:break-word;
    font-style:normal;
    font-family:'Microsoft YaHei';
    text-decoration:none;
}
.report_line_1 {
    position:relative;
    top:100px;
    width:100%;
    height:144px;
}
.report_line_2 {
    position:relative;
    top:150px;
    width:100%;
    height:144px;
}
.report_line_3 {
    position:relative;
    top:200px;
    width:100%;
    height:144px;
}
.Report_index_vehicle {
    position:absolute;
    /*float:left;*/
    border:1px solid #000;
    border-radius:7px;
    width:29%;
    height:142px;
    cursor:pointer;
    left:15%;
}
.Report_index_vehicle_img {
    position:relative;
    top:10px;
    left:46%;
    width:10%;
    height:31px;
    background-image: url('../images/report_01.png');
}
.Report_index_oil {
    position:absolute;
    /*float:left;*/
    border:1px solid #000;
    border-radius:7px;
    left:58%;
    width:29%;
    height:142px;
    cursor:pointer;
}
.Report_index_oil_img {
    position:relative;
    top:10px;
    left:46%;
    width:10%;
    height:31px;
    background-image: url('../images/report_02.png');
}
.Report_index_trip {
    position:absolute;
    /*float:left;*/
    border:1px solid #000;
    border-radius:7px;
    width:29%;
    height:142px;
    cursor:pointer;
    left:15%;
}
.Report_index_trip_img {
    position:relative;
    top:10px;
    left:46%;
    width:10%;
    height:31px;
    background-image: url('../images/report_03.png');
}
.Report_index_util {
    position:absolute;
    /*float:left;*/
    border:1px solid #000;
    border-radius:7px;
    left:58%;
    width:29%;
    height:142px;
    cursor:pointer;
}
.Report_index_util_img {
    position:relative;
    top:10px;
    left:46%;
    width:10%;
    height:31px;
    background-image: url('../images/report_04.png');
}
.Report_index_history {
    position:absolute;
    /*float:left;*/
    border:1px solid #000;
    border-radius:7px;
    width:29%;
    height:142px;
    cursor:pointer;
    left:15%;
}
.Report_index_history_img {
    position:relative;
    top:10px;
    left:46%;
    width:10%;
    height:31px;
    background-image: url('../images/report_05.png');
}